.c-blue { color: $blue; }
.c-blue-light { color: $blue-light; }
.c-blue-dark { color: $blue-dark; }
.c-yellow { color: $yellow; }
.c-yellow-dark { color: $yellow-dark; }
.c-gray { color: $gray; }
.c-gray-lighter { color: $gray-lighter; }
.c-gray-light { color: $gray-light; }
.c-gray-dark { color: $gray-dark; }
.c-black { color: $black; }
.c-red { color: $red; }
.c-white { color: #fff; }

.c_yellow:hover,
.c_yellow:focus {
  color: $yellow;
}

.bg-t { background: transparent; }
.bg-white { background: #fff; }
.bg-blue-dark { background: $blue-dark; }
.bg-blue { background: $blue; }
.bg-blue-light { background: $blue-light; }
.bg-yellow { background: $yellow; }
.bg-yellow-dark { background: $yellow-dark; }
.bg-gray-lighter { background: $gray-lighter; }
.bg-gray-light { background: $gray-light; }
.bg-gray { background: $gray; }
.bg-gray-dark { background: $gray-dark; }
.bg-black { background: $black; }
.bg-red { background: $red; }

.bdc-blue-hr { border-color: #112439; }
.bdc-black-hr { border-color: #0A0E13; }
.bdc-gray-hr { border-color: #23354F; }
.bdc-gray-light { border-color: $gray-light; }
.bdc-gray { border-color: $gray; }
.bdc-gray-dark { border-color: $gray-dark; }
