.c-blue { color: $blue; }
.c-blue-light { color: $blue-light; }
.c-yellow { color: $yellow; }
.c-yellow-dark { color: $yellow-dark; }
.c-gray { color: $gray; }
.c-gray-dark { color: $gray-dark; }
.c-black { color: $black; }
.c-red { color: $red; }

.bg-blue { background: $blue; }
.bg-blue-light { background: $blue-light; }
.bg-yellow { background: $yellow; }
.bg-yellow-dark { background: $yellow-dark; }
.bg-gray { background: $gray; }
.bg-gray-dark { background: $gray-dark; }
.bg-black { background: $black; }
.bg-red { background: $red; }
