
// Brand colors
$blue: #152C47;
$blue-light: #33A4DD;
$yellow: #FCEB16;
$yellow-dark: #B2D236;
$gray: #E8E8E8;
$gray-dark: #77787B;
$black: #0D1218;
$red: #EE2B63;

// State colors
$error: #F05F5C;
$success: #AAB971;
$info: #5E98A3;

