::placeholder {
  color: $blue;
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=color] {
  border: 0;
  display: inline-block;
}

.modal {
  input {
    width: 100%;
    border: 1px solid $gray-light;
    border-radius: 3px;
  }
  ::placeholder {
    color: $gray;
    font-weight: 700;
  }
  .modal-footer {
    border-top: 1px solid $gray-light;
    a {
      padding: 8px 30px;
      border: 1px solid $blue;
      border-radius: 3px;
      color: $blue;
    }
  }
}

button {
  display: inline-block;
  border: none;
}
