#about-it-works {
  background-image: asset-url('bg_header.png');

  ul {
    li:before {
      content: "•";
      margin-right: 3px;
      color: $yellow;
    }
  }
}

.step {
  height: 40px;
  width: 40px;
}

.step-name {
  margin-left: -10px;
}
